/*
    CORES
    rgb(49, 48, 48)
    rgb(41, 41, 41)
    rgb(59, 59, 59)
    
*/

/*Reset do site*/

*{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font: 10pt Arial;
    
}

.header h1 {
    position: absolute;
    top: 24px;
    left: 20px;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: rgb(150, 91, 245);
    height: 50px;
}

.home{
    height: 30px;
    width: 30px;
    margin: 10px;
    transition: trasform .1s;
}

.home:hover{
    transform: scale(1.05);
}

::-webkit-input-placeholder {
    color: rgb(150, 91, 245);
}


.loginBox{
    margin: auto;
    margin-top: 50px;
    width: 900px;
    height: 400px;
    background-color: rgb(59, 59, 59);
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 10px;
    padding: 20px;

}

.input{
    width: 400px;
    height: 40px;
    background-color: rgb(41, 41, 41);
    font-size: 18px;
    border-radius: 12px;
    border: none;
    margin: 0;
    padding: 0 15px;
    text-align: left; 
    flex: 1;
}

.buttonLogin{
    width: 900px;
    height: auto;
    background-color: rgb(150, 91, 245);
    font-size: 18px;
    border-radius: 12px;
    color: white;
    border: none;
    margin: auto;
    text-align: center;
    padding: 15px;
    transition: transform .1s;
    cursor: pointer;
}
.buttonLogin:hover{
    transform: scale(1.02);
}

select {
    background-color: rgb(41, 41, 41);
    border: none;
    color: rgb(150, 91, 245);
    width: 400px;
    height: 40px;
    border-radius: 12px;
    font-size: 18px;
    padding: 0 15px;
    text-align: left;
    margin: 0;
}

.insert-img {
    background-color: transparent;
    display: flex;
    height: min-content;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.insert-img input {
    color: #fff;
}

.insert-img label {
    padding: 15px 50px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    color: rgb(150, 91, 245);
}



input[type="file" i] {
    background-color: var(--bg-cinza);
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;

}
input[type=number] {
   -moz-appearance: textfield;
   appearance: textfield;

}