/*
    CORES
    rgb(49, 48, 48)
    rgb(41, 41, 41)
    rgb(59, 59, 59)
    
*/

/*Reset do site*/

*{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font: 10pt Arial;
    
}
h1{
    width: 300px;
}

.header h1 {
    position: absolute;
    top: 24px;
    left: 20px;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: rgb(150, 91, 245);
    height: 50px;
}

.home{
    height: 30px;
    width: 30px;
    margin: 10px;
    transition: transform .1s;
}

.home:hover{
    transform: scale(1.05);
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}


form .loginBox{
    margin: auto;
    margin-top: 50px;
    padding: 30px 60px;
    width: 900px;
    height: 500px;
    background-color: rgb(59, 59, 59);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.display-form {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

::-webkit-input-placeholder {
    color: rgb(150, 91, 245);
}

.row-input {
    display: flex;
    flex-direction: row;
    height: min-content;
    justify-content: space-between;
}

.input{
    width: 360px;
    height: 40px;
    margin: 0px 0;
    padding: 0 25px;
    background-color: rgb(41, 41, 41);
    font-size: 18px;
    border-radius: 12px;
    border: none;
    text-align: left;
}


.input:focus {
    outline: none;
}

.buttonLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 750px;
    height: 40px;
    background-color: rgb(150, 91, 245);
    font-size: 18px;
    border-radius: 12px;
    color: white;
    border: none;
    margin: auto;
    text-align: center;
    padding: 15px;
    transition: transform .1s;
}
.buttonLogin:hover{
    transform: scale(1.05);
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}