/*
    CORES
    rgb(49, 48, 48)
    rgb(41, 41, 41)
    rgb(59, 59, 59)
    
*/

/*Reset do site*/

* {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: rgb(141, 141, 141);
  backdrop-filter: blur(5px);
}

/*SCROLL BAR*/
::-webkit-scrollbar {
  width: 18px;
}
::-webkit-scrollbar-track {
  border-radius: 35px;
  background-color: #898989;
}

::-webkit-scrollbar-thumb {
  border-radius: 35px;
  background-color: rgb(56, 56, 56);
}

/*SCROLL BAR*/

/*Configuração cabeçalho*/

div.header {
  background-color: rgb(59, 59, 59);
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header_Border {
  background-color: rgb(41, 41, 41);
  width: 100%;
  height: 105px;
}

.search_Bar {
  background-color: rgb(49, 48, 48);
  border: solid 1px;
  border-radius: 5px;
  width: 300px;
  height: 32px;
  margin: auto auto;
  margin-top: 35px;
}

.search {
  float: left;
  background-color: transparent;
  padding-left: 5px;
  font-size: 18px;
  height: 32px;
  width: 260px;
  border: none;
}
.btnBusca {
  width: 30px;
  height: 30px;
  transition: trasform 0.1s;
}
.btnBusca:hover {
  transform: scale(1.05);
}

/*TELA PERFIL*/
.telaPerfil {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1200px;
  height: 100%;
  margin: auto;
  margin-top: 160px;
  background-color: rgb(59, 59, 59);

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.menuPerfil {
  background-color: rgb(49, 48, 48);
  width: 250px;
  position: relative;
}
.menuPerfil .fotoPerfil {
  width: 200px;
  height: 200px;
  margin: auto;
  margin-top: 20px;
}
.menuPerfil .nomePerfil {
  height: 90px;
}

.menuPerfil .nomePerfil p {
  color: white;
  font: 20pt Arial;
  text-align: center;
  margin-top: 15px;
}

.menuPerfil .tipoDados {
  width: 200px;
  height: 40px;
  background-color: rgb(41, 41, 41);
  display: flex;
  align-items: flex-start;
  margin: 18px auto;
  border: none;
  transition: trasform 1s;
  cursor: pointer;
}

.tipoDados:hover {
  transform: scale(1.02);
}

.menuPerfil .tipoDados img {
  width: 27px;
  height: 27px;
  margin: auto;
}
.menuPerfil .tipoDados p {
  color: white;
  font: 15pt Arial;
  text-align: center;
  width: 200px;
  height: 32px;
  margin: auto;
}

.infoPerfil {
  width: 950px;
  height: min-content;
  background-color: rgb(59, 59, 59);
}

.infoPerfil h1 {
  text-align: center;
  font: 35pt Arial;
  color: white;
  height: 15px;
  margin-top: 12px;
}
.infoPerfil .pb {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  margin: auto;
  background-color: rgb(49, 48, 48);
  margin-top: 70px;
  width: 700px;
  height: auto;
  padding-bottom: 50px;
}

.infoPerfil .pb #nome {
  font: 13pt Arial;
  color: white;
  width: 90%;
  height: 50px;
  margin-left: 30px;
  margin-top: 30px;
}
.infoPerfil .pb .nome {
  font: 18pt Arial;
}
.infoPerfil .pb .linha {
  height: 3px;
  width: 300px;
  margin-left: 30px;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.359);
  border-radius: 3px;
}

.infoPerfil .hb {
  display: none;
  flex-direction: column;
  margin-bottom: 5px;
  margin: auto;
  background-color: rgb(49, 48, 48);
  margin-top: 70px;
  width: 700px;
  height: 800px;
}

.infoPerfil .hb{
  display: none;
  flex-direction: column;
  margin-bottom: 5px;    
  margin: auto;
  background-color: rgb(49, 48, 48);
  margin-top: 70px;
  width: 700px;
  height: 800px;

}
  .infoPerfil .hb #nome{
      font: 13pt Arial;
      color: white;
      width: 300px;
      height: 50px;
      margin-left: 30px;
      margin-top: 30px;
      display: inline-table;
  }.infoPerfil .hb #nome img{
      height: 90px;
      width: 90px;
      
  }
      .infoPerfil .hb .nome{
          font: 18pt Arial;
      }
      
      .infoPerfil .hb .linha{
          height: 3px;
          width: 630px;
          margin-left: 30px;
          margin-top: 5px;
          background-color: rgba(255, 255, 255, 0.359);
          border-radius: 3px;
      }

/*TELA PERFIL*/
