/*
    CORES
    rgb(49, 48, 48)
    rgb(41, 41, 41)
    rgb(59, 59, 59)
    
*/

/*Reset do site*/

*{
    padding: 0;
    margin: 0;
    font: 12pt Arial 
    
}
.home{
    height: 30px;
    width: 30px;
    margin: 10px;
    transition: trasform .1s;
}

.home:hover{
    transform: scale(1.05);
}

form {
    margin: auto
}

form .loginBox{
    margin: auto;
    margin-top: 50px;
    width: 400px;
    height: 400px;
    background-color: rgb(59, 59, 59);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.loginBox a {
    width: auto;
    height: auto;
}

.input{
    width: 300px;
    height: 40px;
    background-color: rgb(41, 41, 41);
    font-size: 18px;
    color: var(--roxo);
    border-radius: 12px;
    border: none;
    margin: 0;
    text-align: center;  
}

::-webkit-input-placeholder {
    color: var(--roxo);
}

.buttonLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 35px;
    background-color: rgb(150, 91, 245);
    font-size: 18px;
    border-radius: 12px;
    color: white;
    border: none;
    margin: 0 0 20px;

    text-align: center;
    padding: 15px;
    transition: transform .1s;
}

.buttonLogin:hover{
    transform: scale(1.05);
}

.linkCad {
    color: white;
    text-decoration: none;
  }
  
  .linkCad:hover {
    color: rgb(116, 116, 116); 
  }