/*
    CORES
    rgb(49, 48, 48)
    rgb(41, 41, 41)
    rgb(59, 59, 59)

    roxo rgb(105,91,245);
    roxo meio apagado rgb(129,128,193);
    roxo forte rgb(104,43,175);
    roxo escuro rgb(39,38,61);
    roxo perola rgb(189,188,221);
    

    -roxo #695bf5
    -roxo meio apagado #8180c1
    -roxo forte #682baf
    -roxo escuro #27263d
    -roxo perola #bdbcdd

*/

:root {
  font-family: arial;
  --bg-cinza: #8d8d8d;
  --color-1: #313030;
  --color-2: #292929;
  --color-3: #3b3b3b;
  --roxo: #695bf5;
  --roxo-claro: #8180c1;
  --roxo-forte: #682baf;
  --roxo-escuro: #27263d;
  --roxo-perola: #bdbcdd;
}

/*Reset do site*/

* {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: rgb(141, 141, 141);
  background-image: url(/assets/logo-techstore/background-roxo.png);
  backdrop-filter: blur(5px);
}

/*SCROLL BAR*/
::-webkit-scrollbar {
  width: 18px;
}
::-webkit-scrollbar-track {
  border-radius: 35px;
  background-color: #898989;
}

::-webkit-scrollbar-thumb {
  border-radius: 35px;
  background-color: rgb(56, 56, 56);
}

/*SCROLL BAR*/

/*Configuração cabeçalho*/

div.header {
  background-color: rgb(59, 59, 59);
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header_Border {
  background-color: rgb(41, 41, 41);
  width: 100%;
  height: 105px;
}

.Logo {
  width: 85px;
  height: 85px;
  margin-left: 50px;
  transition: trasform 0.1s;
}

.Logo:hover {
  transform: scale(1.05);
}

.search_Bar {
  background-color: rgb(49, 48, 48);
  border: solid 1px;
  border-radius: 5px;
  width: 300px;
  height: 32px;
  margin: auto auto;
  grid-row: auto;
}

.search {
  float: left;
  background-color: transparent;
  padding-left: 5px;
  font-size: 18px;
  height: 32px;
  width: 260px;
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.btnBusca {
  width: 30px;
  height: 30px;
  transition: trasform 0.1s;
}
.btnBusca:hover {
  transform: scale(1.05);
}

.profile {
  height: 45px;
  width: 45px;
  margin: 10px;
  transition: trasform 0.1s;
}

.profile:hover {
  transform: scale(1.05);
}
.cadProduto {
  height: 45px;
  width: 45px;
  margin: 10px;
  transition: trasform 0.1s;
}

.cadProduto:hover {
  transform: scale(1.05);
}

.carrinho {
  height: 45px;
  width: 45px;
  margin: 10px;
  transition: trasform 0.1s;
}

.carrinho:hover {
  transform: scale(1.05);
}

/*SOBRE A EMPRESA*/
.about {
  height: 30px;
  width: 30px;
  margin: 10px;
  transition: trasform 0.1s;
}

.about:hover {
  transform: scale(1.05);
}

#menuFilter {
  display: none;
  flex-direction: column;
  margin-left: 0px;
  height: 100%;
  width: 300px;
  background-color: rgb(41, 41, 41);
}

#menuFilter {
  animation-duration: 0.5s;
  animation-name: slide-in;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.buttonSearch {
  background-color: #fff;
  border: none;
  width: 250px;
  height: 350px;
}

/*FILTRO*/

/*Corpo do site*/

.main_Screen {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1000px;
  height: auto;
  margin: auto;
  margin-top: 160px;
  background-color: rgb(59, 59, 59);
  border-radius: 6px;

  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.block {
  transition: transform 0.1s;
}

.block:hover {
  transform: scale(1.01);
}

.input {
  color: white;
}

a {
  color: var(--roxo);
  text-decoration: none;
  cursor: pointer;
  margin: 0;
  width: min-content;
  height: min-content;
  font-size: 11px;
}

.infos {
  justify-content: space-between;
  width: 150px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.infos span {
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  width: auto;
  height: auto;
  word-break: keep-all;
}

form {
  width: min-content;
  height: min-content;
  margin-bottom: 30px;
}

.produto-button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    border-radius: 30px;
    background-color: #FFF;
    border: none;
}

.produto-button .categoria-produto {
    color: var(--color-3);
    font-weight: 600;
    font-size: 13px;
    width: 100%;
    margin: 15px 0;
    text-align: center;
    height: min-content;
}

.content-img {
    width: 90%;
    margin: 0 auto;
    height: auto;
    max-height: 300px;
}

.produto-button h3 {
    width: 90%;
    margin: 20px auto 5px  auto;
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    color: var(--roxo-escuro);
}

.preco {
    width: 90%;
    text-align: left;
    margin: 0 auto 15px auto;
    color: var(--roxo-forte);
    font-weight: 700;
    font-size: 16px;
}
.alterar{
    width: 40px;
    height: auto;
    margin: 0 auto 15px 30%;
}
.excluir{
    width: 40px;
    height: auto;
    margin: 0 auto 15px 15px;
}


.area-admin {
  width: 250px;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.area-admin form {
  width: 45%;
}

.area-admin .btn {
  background-color: var(--roxo-claro);
  border: none;
  width: 100%;
  color: #fff;
  border-radius: 15px;
  height: 30px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}

.area-admin .btn p {
  width: auto;
  height: auto;
}

.area-admin .btn img {
  width: 20px;
  height: auto;
  margin: 0 0 0 8px;
  padding: 0;
}

.area-admin .update-btn {
  width: 45%;
}
