
/*
    CORES
    rgb(49, 48, 48)
    rgb(41, 41, 41)
    rgb(59, 59, 59)

    roxo rgb(105,91,245);
    roxo meio apagado rgb(129,128,193);
    roxo forte rgb(104,43,175);
    roxo escuro rgb(39,38,61);
    roxo perola rgb(189,188,221);
    

    -roxo #695bf5
    -roxo meio apagado #8180c1
    -roxo forte #682baf
    -roxo escuro #27263d
    -roxo perola #bdbcdd

*/

:root {
    --bg-cinza: #8d8d8d;
    --color-1: #313030;
    --color-2: #292929;
    --color-3: #3b3b3b;
    --roxo: #695BF5;
    --roxo-claro: #8180C1;
    --roxo-forte: #682BAF;
    --roxo-escuro: #27263D;
    --roxo-perola: #BDBCDD;
}


/*Reset do site*/

*{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body{
    background-color: rgb(141, 141, 141);
    background-image: url(/assets/logo-techstore/background-roxo.png);
    backdrop-filter: blur(5px);
}

/*SCROLL BAR*/
::-webkit-scrollbar{
    width: 18px;
}
::-webkit-scrollbar-track{
    border-radius: 35px;
    background-color: #898989;
}

::-webkit-scrollbar-thumb{
    border-radius: 35px;
    background-color: rgb(56, 56, 56);
}

/*SCROLL BAR*/

/*Configuração cabeçalho*/

div.header{
    background-color: rgb(59, 59, 59);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header_Border{
    background-color: rgb(41, 41, 41);
    width: 100%;
    height: 105px;
}

.Logo{
    width: 85px;
    height: 85px;
    margin-left: 50px;
    transition: trasform .1s;
}

.Logo:hover{
    transform: scale(1.05);
}




.search_Bar{
    background-color: rgb(49, 48, 48);
    border: solid 1px;
    border-radius: 5px;
    width: 300px;
    height: 32px;
    margin: auto auto;
    grid-row: auto;
    
}

.search{
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-size: 18px;
    height: 32px;
    width: 260px;
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.btnBusca{
    width: 30px;
    height: 30px;
    transition: trasform .1s;
}
.btnBusca:hover{
    transform: scale(1.05);
}


.profile{
    height: 45px;
    width: 45px;
    margin: 10px;
    transition: trasform .1s;
}

.profile:hover{
    transform: scale(1.05);
}
.cadProduto{
    height: 45px;
    width: 45px;
    margin: 10px;
    transition: trasform .1s;
}

.cadProduto:hover{
    transform: scale(1.05);
}

.carrinho{
    height: 45px;
    width: 45px;
    margin: 10px;
    transition: trasform .1s;
}

.carrinho:hover{
    transform: scale(1.05);
}

/*FILTRO*/
.filter{
    height: 30px;
    width: 30px;
    margin: 10px;
    transition: trasform .1s;
}

.filter:hover{
    transform: scale(1.05);
}

#menuFilter{
    display: none;
    flex-direction: column;
    margin-left: 0px;
    height: 100%;
    width: 300px;
    background-color: rgb(41, 41, 41);

}


  #menuFilter{
    animation-duration: 0.5s;
    animation-name: slide-in;
  }
  
  @keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }
 


/*FILTRO*/

/*Corpo do site*/



.main_Screen{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 800px;
    height: 100%;
    margin: auto;
    margin-top: 160px;
    background-color: rgb(59, 59, 59);
    border-radius: 6px;


    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.block{
    background: white;
    width: 200px;
    height: 250px;
    margin: 30px;
    transition: transform .1s;
}

.block:hover{
    transform: scale(1.05);
}

.input{
    color: white;
}